.product-preview-card {
  &__title {
    font-style: bold;
    
    font-weight: 900;
    color: rgb(6, 76, 6);
  }

  &__description {
    font-weight: 900;
    color: blue;
  }

  &__image {
    width: 20rem;
  }
}
