.product-preview-card {
  &__title {
    font-style: bold;
    font-family:Arial;
    color: rgb(61, 32, 32);
  }

  &__description {
    font-style: bold;
    color: rgb(107, 59, 59);
    font-family:Arial;
  }

  &__image {
    width: 20rem;
  }
}
